/*Overall Things*/

html {
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
/*    padding: 20px 0px;*/
}

h2 {
    color: #a8d275;
    font-size: 1.5em;
}

h3 {
    font-style: italic;
}

h4 {
    font-size: 1em;
}

p {
    font-size: 0.75em;
    line-height:normal;
}

.paragraph {
    margin: auto;
    padding: 0 10%;
}

/*Navigation Bar*/

/*Primary Navigation*/

#navigation img {
    width: 100px;
}

#navigation {
    width: 100%;
    background: #3c627d;
    color: #fff;
    padding: 0px 10%;
}

#navigation h2{
    color: #fff;
}


/*Secondary Navigation*/
#secondary-navigation {
    background: #7da2bd;
}
.nav-link.active {
    background: #dd6600;
}

.nav-pills .nav-link.active{
    background: #3C627D;
}

.nav-pills a {
    color: #3C627D;
}

/*Landing Page*/
[id$=landing] {
/*    margin-top:50px;*/
    position: relative;
}

#landing img {
    min-height: 30vh;
    max-height: 60vh;
    object-fit: cover;
}

#main-landing img {
    min-height: 60vh;
    max-height: 90vh;
    object-fit: cover;
}

#mid-landing img {
    min-height: 10vh;
    max-height: 30vh;
    object-fit: cover;
}

[id$=landing] h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #a8d275;
}

/*Footer*/

footer .nav-pills a {
    color: #fff;
}

/*Video*/
#video iframe {
    height: 80vh;
}

/*Content*/
.content {
    /*    width: 100%;*/
    padding:50px 0px 20px 0px;
}

/*Image fills the parent div*/
.content img {
    object-fit: cover;
    /*    min-width: 100%;*/
    min-height: 100%
}

/*Best Selling*/
#best-selling {
    text-align: center;
}

#best-selling img {
    padding: 0px;
    margin: 20px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

/*Award*/
#award {
    text-align: center;
}

#award img {
    margin: 20px 10%;
    width: 80%;
    height: auto;
    overflow: hidden;
    border-radius: 50%;
}

#award h4 {
    text-align: left;
    margin: 0px 10%;
}

/*Press*/
#press {
    text-align: right;
}

/*Menu Page*/
.sub-category {
    margin: 20px 0px;
    color: #F3646D;
    font-weight: bold;
}

.sub-category-item {
    margin: 0px 20px;
    color: black;
    font-weight: normal;
/*    text-align: center;*/
}

/*Forms*/
form h4 {
    color: #a8d275;
}

/*iframe*/
iframe {
    width: 100%;
}

/*Table for buy.html*/
table {
    width: 100%;
    text-align: left;
    vertical-align: top;
}

th {
    font-weight: 500;
    color: #a8d275;
    height: 2em;
}

td {
    vertical-align: top;
}

/*Gallery*/

#galleryThumbnail {
    width: 25%;
    float: left;
}

#galleryThumbnail img {
    border-radius: 50%;
    padding: 5%;
}

/*Footer*/
footer {
    background: #3C627D;
    color: white;
    width: 100%;
    padding: 30px 50px;
}

footer img {
    min-width: 60px;
    width: 100%;
    padding: 0px 15%;
}

#link img {
    width: 30%;
    padding: 10px;
    /*    width: 100%;*/
    /*    padding: 0px 50px;*/
}

/*Big Screen Things*/
@media screen and (min-width: 992px) {
    #hidden-navigation{
        position: absolute;
        right:0;
    }
}

/*Small Screen Things*/
@media screen and (max-width: 575px) {
    h1 {
        width: 100%;
        text-align: center;
        font-size: 2em;
    }

    h2 {
/*        color: #3C627D;*/
        font-size: 1.25em;
    }

    h3 {
        font-size: 1.5em;
    }

    h4 {
        font-size: 0.875em;
        font-weight:400;
    }

    h6 {
        text-align: center;
        font-size: 0.75em;
    }

    p {
        font-size: 0.75em;
        line-height:normal;
    }

    .hidden-small {
        display: none;
    }

    .content {
        padding:5px 0px 10px 0px;
    }

    .paragraph {
        margin: auto;
        padding: 0;
    }

    /*Navigation Bar*/
    #navigation {
        padding-left: 10px;
    }

    #navigation h3 {
        width: 100%;
        text-align: center;
    }

    #navigation .nav {
        justify-content:center !important;
        width: 100%;
    }

    #navigation a {
        font-size: 0.75em;
        color: white;
    }

    /* Awards Section*/
    #award {
        text-align: left;
    }

    #award h4 {
        margin: 0px;
    }

    /*Home Screen Best Selling*/
    #best-selling {
        text-align: left;
    }
    #best-selling img {
        margin: 0;
        width : 80px;
        height: 80px;
    }

    #best-selling h2 {
        margin-bottom: 20px;
    }

    /*Menu Page*/
    .sub-category {
        margin: 10px 0px;
        color: #a8d275;
        font-weight: 700;
    }

    .sub-category-item {
        margin: 0px 20px;
        color: black;
        font-weight: 400;
        font-size: 0.875em;
    }

    .nav-pills .nav-link.active{
        background: #ffaa00;
    }

    .nav-pills a {
        color: #a8d275;
        font-size: 0.875em;
    }

    /*Events*/
    #v-pills-tab {
        margin-bottom: 30px;
    }

    /*Gallery*/

    #galleryThumbnail {
        width: 30%;
        float: left;
    }

    #galleryThumbnail img {
        border-radius: 50%;
        padding: 5%;
    }

}

/*Tablet Screen Things*/
@media screen and (max-width: 768px) {
    h1 {
        width: 100%;
        text-align: center;
    }

    h2 {
/*        color: #a8d275;*/
        font-size: 1.25em;
    }

    h4 {
        padding-top: 15px;
        font-size: 0.875em;
        font-weight:400;
    }

    h6 {
        text-align: center;
        font-size: 0.75em;
    }

    p {
        font-size: 0.75em;
        line-height:normal;
    }

    .content {
        padding:5px 0px 10px 0px;
    }

    /*Navigation Bar*/
    #navigation {
        padding-left: 10px;
    }

    #navigation h3 {
        width: 100%;
        text-align: center;
    }

    #navigation .nav {
        justify-content:center !important;
        width: 100%;
    }

    #navigation a {
        font-size: 0.875em;
        color: white;
    }

    /*Home Screen Best Selling*/
    #best-selling {
        text-align: left;
    }
    #best-selling img {
        margin: 0;
        width : 120px;
        height: 120px;
    }

    #best-selling h2 {
        margin-bottom: 20px;
    }

    /* Awards Section*/
    #award {
        text-align: left;
    }

    #award h4 {
        margin: 0px;
    }

    #award img {
        width: 25%;
        float: left;
        margin: 0px 20px 0px 0px;
        padding: 10px 0px;
    }

    /*Footer*/
    #link {
        margin-top: 20px;
        text-align: center;
    }

    #link img {
        width: 15%;
    }
}

/*Stars*/

.checked {
  color: orange;
}

/*Color Blocks*/

.color-blocks {
    display:flex;
    justify-content: flex-start;
    flex-direction: row;
    
}

.color-block {
    width: 25px;
    height: 25px;
    margin: 5px;
}

.block-color-1 {
    background-color: red;
}

.block-color-2 {
    background-color: yellow;
}

.block-color-3 {
    background-color: greenyellow;
}

.block-color-4 {
    background-color: darkgrey;
}

/*Stripe things*/

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

/*Stripe thing example 2*/

.example.example2 {
  background-color: #fff;
}

.example.example2 * {
  font-family: San Fransisco, Source Code Pro, Consolas, Menlo, monospace;
  font-size: 16px;
  font-weight: 500;
}

.example.example2 .row {
  display: -ms-flexbox;
  display: flex;
  margin: 0 5px 10px;
}

.example.example2 .field {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 0 10px;
}

.example.example2 .field.half-width {
  width: 50%;
}

.example.example2 .field.quarter-width {
  width: calc(25% - 10px);
}

.example.example2 .baseline {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #cfd7df;
  transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.example.example2 label {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 8px;
  color: #cfd7df;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transform-origin: 0 50%;
  cursor: text;
  transition-property: color, transform;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.example.example2 .input {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding-bottom: 7px;
  color: #32325d;
  background-color: transparent;
}

.example.example2 .input::-webkit-input-placeholder {
  color: transparent;
  transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.example.example2 .input::-moz-placeholder {
  color: transparent;
  transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.example.example2 .input:-ms-input-placeholder {
  color: transparent;
  transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.example.example2 .input.StripeElement {
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: opacity;
}

.example.example2 .input.focused,
.example.example2 .input:not(.empty) {
  opacity: 1;
}

.example.example2 .input.focused::-webkit-input-placeholder,
.example.example2 .input:not(.empty)::-webkit-input-placeholder {
  color: #cfd7df;
}

.example.example2 .input.focused::-moz-placeholder,
.example.example2 .input:not(.empty)::-moz-placeholder {
  color: #cfd7df;
}

.example.example2 .input.focused:-ms-input-placeholder,
.example.example2 .input:not(.empty):-ms-input-placeholder {
  color: #cfd7df;
}

.example.example2 .input.focused + label,
.example.example2 .input:not(.empty) + label {
  color: #aab7c4;
  transform: scale(0.85) translateY(-25px);
  cursor: default;
}

.example.example2 .input.focused + label {
  color: #24b47e;
}

.example.example2 .input.invalid + label {
  color: #ffa27b;
}

.example.example2 .input.focused + label + .baseline {
  background-color: #24b47e;
}

.example.example2 .input.focused.invalid + label + .baseline {
  background-color: #e25950;
}

.example.example2 input, .example.example2 button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
}

.example.example2 input:-webkit-autofill {
  -webkit-text-fill-color: #e39f48;
  transition: background-color 100000000s;
  -webkit-animation: 1ms void-animation-out;
}

.example.example2 .StripeElement--webkit-autofill {
  background: transparent !important;
}

.example.example2 input, .example.example2 button {
  -webkit-animation: 1ms void-animation-out;
}

.example.example2 button {
  display: block;
  width: calc(100% - 30px);
  height: 40px;
  margin: 40px 15px 0;
  background-color: #24b47e;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.example.example2 input:active {
  background-color: #159570;
}

.example.example2 .error svg {
  margin-top: 0 !important;
}

.example.example2 .error svg .base {
  fill: #e25950;
}

.example.example2 .error svg .glyph {
  fill: #fff;
}

.example.example2 .error .message {
  color: #e25950;
}

.example.example2 .success .icon .border {
  stroke: #abe9d2;
}

.example.example2 .success .icon .checkmark {
  stroke: #24b47e;
}

.example.example2 .success .title {
  color: #32325d;
  font-size: 16px !important;
}

.example.example2 .success .message {
  color: #8898aa;
  font-size: 13px !important;
}

.example.example2 .success .reset path {
  fill: #24b47e;
}

/*Stripe Example 5*/

.example.example5 {
  background-color: #9169d8;
}

.example.example5 * {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.example.example5 form {
}

#example5-paymentRequest {
  max-width: 500px;
  width: 100%;
  margin-bottom: 10px;
}

.example.example5 fieldset {
  border: 1px solid #b5a4ed;
  padding: 15px;
  border-radius: 6px;
}

.example.example5 fieldset legend {
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #cdd0f8;
  background-color: #9169d8;
}

.example.example5 fieldset legend + * {
  clear: both;
}

.example.example5 .card-only {
  display: block;
}
.example.example5 .payment-request-available {
  display: none;
}

.example.example5 .row {
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 10px;
}

.example.example5 .field {
  position: relative;
  width: 100%;
}

.example.example5 .field + .field {
  margin-left: 10px;
}

.example.example5 label {
  width: 100%;
  color: #cdd0f8;
  font-size: 13px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.example.example5 .input {
  width: 100%;
  color: #fff;
  background: transparent;
  padding: 5px 0 6px 0;
  border-bottom: 1px solid #a988ec;
  transition: border-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.example.example5 .input::-webkit-input-placeholder {
  color: #bfaef6;
}

.example.example5 .input::-moz-placeholder {
  color: #bfaef6;
}

.example.example5 .input:-ms-input-placeholder {
  color: #bfaef6;
}

.example.example5 .input.StripeElement--focus,
.example.example5 .input:focus {
  border-color: #fff;
}
.example.example5 .input.StripeElement--invalid {
  border-color: #ffc7ee;
}

.example.example5 input:-webkit-autofill,
.example.example5 select:-webkit-autofill {
  -webkit-text-fill-color: #fce883;
  transition: background-color 100000000s;
  -webkit-animation: 1ms void-animation-out;
}

.example.example5 .StripeElement--webkit-autofill {
  background: transparent !important;
}

.example.example5 input,
.example.example5 button,
.example.example5 select {
  -webkit-animation: 1ms void-animation-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
  border-radius: 0;
}

.example.example5 select.input,
.example.example5 select:-webkit-autofill {
  background-image: url('data:image/svg+xml;utf8,<svg width="10px" height="5px" viewBox="0 0 10 5" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="#fff" d="M5.35355339,4.64644661 L9.14644661,0.853553391 L9.14644661,0.853553391 C9.34170876,0.658291245 9.34170876,0.341708755 9.14644661,0.146446609 C9.05267842,0.0526784202 8.92550146,-2.43597394e-17 8.79289322,0 L1.20710678,0 L1.20710678,0 C0.930964406,5.07265313e-17 0.707106781,0.223857625 0.707106781,0.5 C0.707106781,0.632608245 0.759785201,0.759785201 0.853553391,0.853553391 L4.64644661,4.64644661 L4.64644661,4.64644661 C4.84170876,4.84170876 5.15829124,4.84170876 5.35355339,4.64644661 Z" id="shape"></path></svg>');
  background-position: 100%;
  background-size: 10px 5px;
  background-repeat: no-repeat;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 20px;
}

.example.example5 button {
  display: block;
  width: 100%;
  height: 40px;
  margin: 20px 0 0;
  background-color: #fff;
  border-radius: 6px;
  color: #9169d8;
  font-weight: 500;
  cursor: pointer;
}

.example.example5 button:active {
  background-color: #cdd0f8;
}

.example.example5 .error svg .base {
  fill: #fff;
}

.example.example5 .error svg .glyph {
  fill: #9169d8;
}

.example.example5 .error .message {
  color: #fff;
}

.example.example5 .success .icon .border {
  stroke: #bfaef6;
}

.example.example5 .success .icon .checkmark {
  stroke: #fff;
}

.example.example5 .success .title {
  color: #fff;
}

.example.example5 .success .message {
  color: #cdd0f8;
}

.example.example5 .success .reset path {
  fill: #fff;
}

/*Individual Product Screen*/

#individual-product {
    position: fixed;
    display: block;
    top: 5%;
    left: 20%;
    z-index: 1;
    width: 60%;
    height: 90vh;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.98);
    padding: 50px;
}

#individual-product input {
    width: 60%;
    text-align: center;
}

#individual-product button {
    width: 10%;
    min-width: 25px;
    background-color: #3C627D;
    color: white;
    border-radius: 20px;
}

#individual-product .color-blocks{
    margin: auto;
    margin-top: 20px;
    width: 60%
}

#individual-product .button-row{
    position:relative;
    top: 40%;
    display: flex;
    justify-content: space-between;
}

#individual-product .button {
    width:200px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    color: white;
    background-color: #3C627D;
    
}

#screen {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

button {
    border: none;
}

#buy-product img{
    max-width: 150px;
    margin-bottom: 20px;
}